<div class="container center">
  <nav aria-label="Page navigation" data-ng-controller="navController">
    <ul class="pagination">
      <!-- <li><a href="/referens">Alla</a></li> -->
      <li><a href="/gallery-live">Live</a></li>
      <li class="active"><a href="/gallery-promo">Promo</a></li>
      <!-- <li><a href="/referens-vvs">VVS</a></li>
      <li><a href="/referens-snickeri">Snickeri</a></li> -->
    </ul>
  </nav>
  <div class="kok-gallery">
    <div class="row">
      <div class="col-md-12">
        <h2>Promo</h2>
      </div>



      <!-- Börja kopiera här -->
      <a href="img/referens/kok/image-1.jpg" data-lightbox="set2" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/kok/thumbnail/thumb-1.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->

      <!-- Börja kopiera här -->
      <a href="img/referens/kok/image-2.jpg" data-lightbox="set2" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/kok/thumbnail/thumb-2.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->

      <!-- Börja kopiera här -->
      <a href="img/referens/kok/image-3.jpg" data-lightbox="set2" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/kok/thumbnail/thumb-3.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->

      <!-- Börja kopiera här -->
      <a href="img/referens/kok/image-4.jpg" data-lightbox="set2" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/kok/thumbnail/thumb-4.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->

      <!-- Börja kopiera här -->
      <a href="img/referens/kok/image-5.jpg" data-lightbox="set2" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/kok/thumbnail/thumb-5.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->

      <!-- Börja kopiera här -->
      <a href="img/referens/kok/image-6.jpg" data-lightbox="set2" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/kok/thumbnail/thumb-6.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->

      <!-- Börja kopiera här -->
      <a href="img/referens/kok/image-7.jpg" data-lightbox="set2" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/kok/thumbnail/thumb-7.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->

      <!-- Börja kopiera här -->
      <a href="img/referens/kok/image-8.jpg" data-lightbox="set2" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/kok/thumbnail/thumb-8.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->

      <!-- Börja kopiera här -->
      <a href="img/referens/kok/image-9.jpg" data-lightbox="set2" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/kok/thumbnail/thumb-9.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->

      <!-- Börja kopiera här -->
      <a href="img/referens/kok/image-10.jpg" data-lightbox="set2" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/kok/thumbnail/thumb-10.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->

      <!-- Börja kopiera här -->
      <a href="img/referens/kok/image-11.jpg" data-lightbox="set2" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/kok/thumbnail/thumb-11.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->

      <!-- Börja kopiera här -->
      <a href="img/referens/kok/image-12.jpg" data-lightbox="set2" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/kok/thumbnail/thumb-12.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->

      <!-- Börja kopiera här -->
      <a href="img/referens/kok/image-13.jpg" data-lightbox="set2" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/kok/thumbnail/thumb-13.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->

      <!-- Börja kopiera här -->
      <a href="img/referens/kok/image-14.jpg" data-lightbox="set2" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/kok/thumbnail/thumb-14.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->

      <!-- Börja kopiera här -->
      <a href="img/referens/kok/image-15.jpg" data-lightbox="set2" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/kok/thumbnail/thumb-15.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->

      <!-- Börja kopiera här -->
      <a href="img/referens/kok/image-16.jpg" data-lightbox="set2" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/kok/thumbnail/thumb-16.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container footerText">
    <h2>Social Media</h2>
    <div class="row">
      <div class="col-md-6 align-left">
        <img src="img/logo/logo.png" alt="Chronus Logo" class="footerLogo">
      </div>
      <div class="col-md-6 social-media align-left">
        <a target="_blank" href="https://www.facebook.com/chronusband"><img class="social1" src="img/partners/FB-f-Logo__white_1024.png" alt="Chronus on Facebook" /></a>
        <a target="_blank" href="https://www.youtube.com/user/Chronusband/"><img class="social1" src="img/partners/YouTube_light_color_icon.png" alt="Chronus on YouTube" /></a>
        <a target="_blank" href="https://www.instagram.com/chronusband/"><img class="social1" src="img/partners/glyph-logo_May2016.png" alt="Chronus on Instagram" /></a>
        <a target="_blank" href="https://twitter.com/ChronusOfficial"><img class="social1" src="img/partners/Twitter_Social_Icon_White.png" alt="Chronus on Twitter" /></a>
      </div>
    </div>
  </div>
  <div class="container footerText">
    <p>&#169; 2017 Jonatan Östling</p>
  </div>
</footer>
<script type="text/javascript">
  $(document).ready(function() {
    if (window.location.href.indexOf("/gallery-promo") > -1) {
      $('.referens').addClass('active');

    } else {
      $('.referens').removeClass('active');
    }
  });
</script>
