<div class="container center">
  <nav aria-label="Page navigation" data-ng-controller="navController">
    <ul class="pagination">
      <!-- <li><a href="/referens">Alla</a></li> -->
      <li class="active"><a href="/gallery-live">Live</a></li>
      <li><a href="/gallery-promo">Promo</a></li>
      <!-- <li><a href="/referens-vvs">VVS</a></li>
      <li><a href="/referens-snickeri">Snickeri</a></li> -->
    </ul>
  </nav>
  <h2>Live</h2>
  <div class="live-gallery">
    <div class="row">
      <div class="col-md-12">
        <h3>Sabaton Open Air 2017</h3>
        <p>Photo: <a target="_blank" class="orange" href="https://www.facebook.com/fechnerfoto/">Martin Fechner</a></p>
      </div>

      <a href="img/gallery/live/soa2017/chronus-1.jpg" data-lightbox="set1" data-title="Press right half of screen for next picture">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/gallery/live/thumbnail/soa2017/chronusthumb-1.jpg" alt="Chronus Live Sabaton Open Air 2017 Martin Fechner Foto The Baron Sebastian Axelsson" title="The Baron - Sabaton Open Air 2017">
        </div>
      </a>

      <a href="img/gallery/live/soa2017/chronus-2.jpg" data-lightbox="set1" data-title="Press right half of screen for next picture">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/gallery/live/thumbnail/soa2017/chronusthumb-2.jpg" alt="Chronus Live Sabaton Open Air 2017 Martin Fechner Foto The Baron Sebastian Axelsson and Svante Furevi" title="The Baron and Svante - Sabaton Open Air 2017">
        </div>
      </a>

      <a href="img/gallery/live/soa2017/chronus-3.jpg" data-lightbox="set1" data-title="Press right half of screen for next picture">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/gallery/live/thumbnail/soa2017/chronusthumb-3.jpg" alt="Chronus Live Sabaton Open Air 2017 Martin Fechner Foto Oliver Delander" title="Oliver - Sabaton Open Air 2017">
        </div>
      </a>

      <a href="img/gallery/live/soa2017/chronus-4.jpg" data-lightbox="set1" data-title="Press right half of screen for next picture">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/gallery/live/thumbnail/soa2017/chronusthumb-4.jpg" alt="Chronus Live Sabaton Open Air 2017 Martin Fechner Foto Svante Furevi" title="Svante - Sabaton Open Air 2017">
        </div>
      </a>

      <a href="img/gallery/live/soa2017/chronus-5.jpg" data-lightbox="set1" data-title="Press right half of screen for next picture">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/gallery/live/thumbnail/soa2017/chronusthumb-5.jpg" alt="Chronus Live Sabaton Open Air 2017 Martin Fechner Foto Oliver Delander and Svante Furevi" title="Oliver and Svante - Sabaton Open Air 2017">
        </div>
      </a>

      <a href="img/gallery/live/soa2017/chronus-6.jpg" data-lightbox="set1" data-title="Press right half of screen for next picture">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/gallery/live/thumbnail/soa2017/chronusthumb-6.jpg" alt="Chronus Live Sabaton Open Air 2017 Martin Fechner Foto The Baron Sebastian Axelsson and Oliver Delander" title="The Baron and Oliver - Sabaton Open Air 2017">
        </div>
      </a>

      <a href="img/gallery/live/soa2017/chronus-7.jpg" data-lightbox="set1" data-title="Press right half of screen for next picture">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/gallery/live/thumbnail/soa2017/chronusthumb-7.jpg" alt="Chronus Live Sabaton Open Air 2017 Martin Fechner Foto The Baron Sebastian Axelsson" title="The Baron - Sabaton Open Air 2017">
        </div>
      </a>

      <a href="img/gallery/live/soa2017/chronus-8.jpg" data-lightbox="set1" data-title="Press right half of screen for next picture">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/gallery/live/thumbnail/soa2017/chronusthumb-8.jpg" alt="Chronus Live Sabaton Open Air 2017 Martin Fechner Foto full band" title="Full band - Sabaton Open Air 2017">
        </div>
      </a>

      <!-- <div class="col-md-12 photoalbum-title">
        <h3>Hx Festival 2017</h3>
        <p>Photo: <a target="_blank" class="orange" href="https://www.facebook.com/karinhenrikssonfilms/">Karin Henriksson</a></p>
      </div>

      <a href="img/gallery/live/hx2017/chronus-1.jpg" data-lightbox="set2" data-title="Press right half of screen for next picture">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/gallery/live/thumbnail/hx2017/chronusthumb-1.jpg" alt="Chronus Live Hx Festival 2017 Karin Henriksson Films Foto Film" title="Full band - Sabaton Open Air 2017">
        </div>
      </a>

      <a href="img/gallery/live/hx2017/chronus-2.jpg" data-lightbox="set2" data-title="Press right half of screen for next picture">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/gallery/live/thumbnail/hx2017/chronusthumb-2.jpg" alt="Chronus Live Hx Festival 2017 Karin Henriksson Films Foto Film" title="Full band - Sabaton Open Air 2017">
        </div>
      </a>

      <a href="img/gallery/live/hx2017/chronus-3.jpg" data-lightbox="set3" data-title="Press right half of screen for next picture">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/gallery/live/thumbnail/hx2017/chronusthumb-3.jpg" alt="Chronus Live Hx Festival 2017 Karin Henriksson Films Foto Film" title="Full band - Sabaton Open Air 2017">
        </div>
      </a>

      <a href="img/gallery/live/hx2017/chronus-9.jpg" data-lightbox="set4" data-title="Press right half of screen for next picture">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/gallery/live/thumbnail/hx2017/chronusthumb-9.jpg" alt="Chronus Live Hx Festival 2017 Karin Henriksson Films Foto Film" title="Full band - Sabaton Open Air 2017">
        </div>
      </a>

      <a href="img/gallery/live/hx2017/chronus-5.jpg" data-lightbox="set5" data-title="Press right half of screen for next picture">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/gallery/live/thumbnail/hx2017/chronusthumb-5.jpg" alt="Chronus Live Hx Festival 2017 Karin Henriksson Films Foto Film full band" title="Full band - Sabaton Open Air 2017">
        </div>
      </a>

      <a href="img/gallery/live/hx2017/chronus-6.jpg" data-lightbox="set6" data-title="Press right half of screen for next picture">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/gallery/live/thumbnail/hx2017/chronusthumb-6.jpg" alt="Chronus Live Hx Festival 2017 Karin Henriksson Films Foto Film full band" title="Full band - Sabaton Open Air 2017">
        </div>
      </a>

      <a href="img/gallery/live/hx2017/chronus-7.jpg" data-lightbox="set7" data-title="Press right half of screen for next picture">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/gallery/live/thumbnail/hx2017/chronusthumb-7.jpg" alt="Chronus Live Hx Festival 2017 Karin Henriksson Films Foto Film full band" title="Full band - Sabaton Open Air 2017">
        </div>
      </a>

      <a href="img/gallery/live/hx2017/chronus-8.jpg" data-lightbox="set8" data-title="Press right half of screen for next picture">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/gallery/live/thumbnail/hx2017/chronusthumb-8.jpg" alt="Chronus Live Hx Festival 2017 Karin Henriksson Films Foto Film full band" title="Full band - Sabaton Open Air 2017">
        </div>
      </a> -->

    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    if (window.location.href.indexOf("/gallery-live", "/gallery-promo") > -1) {
      $('.referens').addClass('active');

    } else {
      $('.referens').removeClass('active');
    }
  });
</script>
