<div class="container center">
  <nav aria-label="Page navigation" data-ng-controller="navController">
    <ul class="pagination">
      <!-- <li><a href="/referens">Alla</a></li> -->
      <li><a href="/referens-badrum">Badrum</a></li>
      <li><a href="/referens-kok">Kök</a></li>
      <li><a href="/referens-vvs">VVS</a></li>
      <li class="active"><a href="/referens-snickeri">Snickeri</a></li>
    </ul>
  </nav>
  <div class="snickeri-gallery">
    <div class="row">
      <div class="col-md-12">
        <h2>Snickeri</h2>
      </div>
      <!-- Börja kopiera här -->
      <a href="img/referens/snickeri/image-1.jpg" data-lightbox="set4" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/snickeri/thumbnail/thumb-1.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->

      <!-- Börja kopiera här -->
      <a href="img/referens/snickeri/image-2.jpg" data-lightbox="set4" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/snickeri/thumbnail/thumb-2.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->

      <!-- Börja kopiera här -->
      <a href="img/referens/snickeri/image-3.jpg" data-lightbox="set4" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/snickeri/thumbnail/thumb-3.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->

      <!-- Börja kopiera här -->
      <a href="img/referens/snickeri/image-4.jpg" data-lightbox="set4" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/snickeri/thumbnail/thumb-4.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->

      <!-- Börja kopiera här -->
      <a href="img/referens/snickeri/image-5.jpg" data-lightbox="set4" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/snickeri/thumbnail/thumb-5.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->

      <!-- Börja kopiera här -->
      <a href="img/referens/snickeri/image-6.jpg" data-lightbox="set4" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/snickeri/thumbnail/thumb-6.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->

      <!-- Börja kopiera här -->
      <a href="img/referens/snickeri/image-7.jpg" data-lightbox="set4" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/snickeri/thumbnail/thumb-7.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->

      <!-- Börja kopiera här -->
      <a href="img/referens/snickeri/image-8.jpg" data-lightbox="set4" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/snickeri/thumbnail/thumb-8.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->

      <!-- Börja kopiera här -->
      <a href="img/referens/snickeri/image-9.jpg" data-lightbox="set4" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/snickeri/thumbnail/thumb-9.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->

      <!-- Börja kopiera här -->
      <a href="img/referens/snickeri/image-10.jpg" data-lightbox="set4" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/snickeri/thumbnail/thumb-10.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->

      <!-- Börja kopiera här -->
      <a href="img/referens/snickeri/image-11.jpg" data-lightbox="set4" data-title="Tryck till höger för nästa bild">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
          <img class="img-responsive" src="img/referens/snickeri/thumbnail/thumb-11.jpg" alt="">
        </div>
      </a> <!-- Sluta kopiera här -->
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container footerText">
    <h2>Information</h2>
    <div class="row">
      <div class="col-md-6 align-left">
        <img src="img/logo/logo.png" alt="Byggest Logo" class="footerLogo">
        <p>Byggest VVS &amp; EL AB<br>Klostervägen 27<br>196 31 Kungsängen<br>Org. nr: 559090-7696</p>
      </div>
      <div class="col-md-6 contact-info align-left">
        <p><strong>Tel:</strong> <span class="highlight2">08-40 888 609</span></p>
        <p><strong>E-mail:</strong> <span class="highlight2">info@byggest.se</span></p>
      </div>
    </div>
  </div>
  <div class="container footerText">
    <p>&#169; 2017 Jonatan Östling</p>
  </div>
</footer>
<script type="text/javascript">
  $(document).ready(function() {
    if (window.location.href.indexOf("/referens", "/referens-badrum", "/referens-kok", "/referens-vvs", "/referens-snickeri") > -1) {
      $('.referens').addClass('active');

    } else {
      $('.referens').removeClass('active');
    }
  });
</script>
