<div class="white">
  <div class="container2-white">
    <!-- <div class="row">
      <div class="col-md-12 center margin-top margin-bottom">
        <h2 class="punch-line"><span class="underline">Gratis kundbesök och slutbesiktning. <span class="text-muted">För din skull.</span></span></h2>
        <p class="lead">Hos oss står kvalitet och kundservice i fokus.</p>
      </div>
    </div> -->
  </div>
</div>
<div class="bandimage-container">
  <div class="container2">
    <div class="row">
      <div class="col-md-6">
        <img class="band-image" src="img/band/Sebastian2.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img class="band-image" src="img/band/Oliver2.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img class="band-image" src="img/band/Svante2.jpg" alt="">
      </div>
      <div class="col-md-6">
        <img class="band-image" src="img/band/Jonatan2.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<!-- Footer Open -->
<footer class="footer">
    <div class="container footerText">
      <h2>Social Media</h2>
      <div class="row">
        <div class="col-xs-6 col-md-6 align-left">
          <img src="img/logo/logo.png" alt="Chronus Logo" class="footerLogo">
        </div>
        <div class="col-xs-6 col-md-6 social-media align-right">
          <a target="_blank" href="https://www.facebook.com/chronusband"><img class="social1" src="img/partners/FB-f-Logo__white_1024.png" alt="Chronus on Facebook" /></a>
          <a target="_blank" href="https://www.youtube.com/user/Chronusband/"><img class="social1" src="img/partners/YouTube_light_color_icon.png" alt="Chronus on YouTube" /></a>
          <a target="_blank" href="https://www.instagram.com/chronusband/"><img class="social1" src="img/partners/glyph-logo_May2016.png" alt="Chronus on Instagram" /></a>
          <a target="_blank" href="https://twitter.com/ChronusOfficial"><img class="social1" src="img/partners/Twitter_Social_Icon_White.png" alt="Chronus on Twitter" /></a>
        </div>
      </div>
    </div>
    <div class="container footerText">
      <p>&#169; 2017 Jonatan Östling</p>
    </div>
  </footer> <!-- Footer Close -->

<script type="text/javascript">
  $(document).ready(function() {
    if (window.location.href.indexOf("/referens", "/referens-badrum", "/referens-kok", "/referens-vvs", "/referens-snickeri") > -1) {
      $('.referens').addClass('active');

    } else {
      $('.referens').removeClass('active');
    }
  });
</script>
