<div id="store-pic-container">
  <div class="container2">
    <div class="">
      <div class="container">
        <div class="img-logos center">
          <!-- <h2 class="center"><span class="highlight3">STORE</span></h2> -->
          <a href="http://shop.chronusofficial.com/"><img class="store" src="img/logo/Vector2vit-Store13.png"></a>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="dark">
  <div class="marketing container2">
    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading asap">CHRONUS ALBUM ART TEE</h2>
        <div class="store-item-description-show">
          <p class="lead">Chronus Album artwork T-shirt.<br><strong>SLIM FIT</strong><em>(Gildan Softstyle)</em>.</p>
          <p class="lead">Sizes: S-XXL</p>
          <br>
          <a href="http://shop.chronusofficial.com/product/chronus-album-t-shirt" class="goToStore-button">ORDER NOW</a>
        </div>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <img id="myImg5" class="featurette-image img-responsive center-block" src="img/modal-img/received_10211761594268422.jpeg  ">
      </div>
      <div class="store-item-description-hidden">
        <p class="lead">Chronus Album artwork T-shirt.<br><strong>SLIM FIT</strong><em>(Gildan Softstyle)</em>.</p>
        <p class="lead">Sizes: S-XXL</p>
        <br>
        <a href="http://shop.chronusofficial.com/product/chronus-album-t-shirt" class="goToStore-button">ORDER NOW</a>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="marketing container2">
    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading asap">CHRONUS LOGO TEE <span class="orange">(LIMITED)</span></h2>
        <div class="store-item-description-show">
          <p class="lead">Chronus Logo artwork T-shirt.<br><strong>SLIM FIT</strong><em>(Gildan Softstyle)</em>.</p>
          <p class="lead">Sizes: S-XL</p>
          <br>
          <a href="http://shop.chronusofficial.com/product/chronus-logo-tee" class="goToStore-button">ORDER NOW</a>
        </div>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <img id="myImg6" class="featurette-image img-responsive center-block" src="img/modal-img/received_10211761642029616.jpeg">
      </div>
      <div class="store-item-description-hidden">
        <p class="lead">Chronus Logo artwork T-shirt.<br><strong>SLIM FIT</strong><em>(Gildan Softstyle)</em>.</p>
        <p class="lead">Sizes: S-XL</p>
        <br>
        <a href="http://shop.chronusofficial.com/product/chronus-logo-tee" class="goToStore-button">ORDER NOW</a>
      </div>
    </div>
  </div>
</div>
<!-- <div class="dark">
  <div class="marketing container2 center">
    <div class="row">
      <div class="col-md-12">
        <h2 class="featurette-heading">Vi hjälper dig.</h2>
        <p class="lead">Med gratis kundbesök och slutbesiktning garanterar vi att du blir nöjd.</p>
      </div>
      <div class="col-md-12 contact-button-container">
        <a href="/om-oss" type="button" class="contact-button">Kom igång!</a>
      </div>
    </div>
  </div>
</div> -->
<div id="myModal5" class="modal">
  <div id="caption5"><h4>Press screen to close.</h4></div>
  <span class="close" onclick="document.getElementById('myModal5').style.display='none'">&times;</span>
  <img class="modal-content" id="img05">
</div>
<div id="myModal6" class="modal">
  <div id="caption6"><h4>Press screen to close.</h4></div>
  <span class="close" onclick="document.getElementById('myModal6').style.display='none'">&times;</span>
  <img class="modal-content" id="img06">
</div>
<!-- Footer Open -->
<footer class="footer">
    <div class="container footerText">
      <h2>Social Media</h2>
      <div class="row">
        <div class="col-xs-6 col-md-6 align-left">
          <img src="img/logo/logo.png" alt="Chronus Logo" class="footerLogo">
        </div>
        <div class="col-xs-6 col-md-6 social-media align-right">
          <a target="_blank" href="https://www.facebook.com/chronusband"><img class="social1" src="img/partners/FB-f-Logo__white_1024.png" alt="Chronus on Facebook" /></a>
          <a target="_blank" href="https://www.youtube.com/user/Chronusband/"><img class="social1" src="img/partners/YouTube_light_color_icon.png" alt="Chronus on YouTube" /></a>
          <a target="_blank" href="https://www.instagram.com/chronusband/"><img class="social1" src="img/partners/glyph-logo_May2016.png" alt="Chronus on Instagram" /></a>
          <a target="_blank" href="https://twitter.com/ChronusOfficial"><img class="social1" src="img/partners/Twitter_Social_Icon_White.png" alt="Chronus on Twitter" /></a>
        </div>
      </div>
    </div>
    <div class="container footerText">
      <p>&#169; 2017 Jonatan Östling</p>
    </div>
  </footer> <!-- Footer Close -->
<script type="text/javascript">
  $(document).ready(function() {
    var modal5 = document.getElementById('myModal5');
    var modal6 = document.getElementById('myModal6');
    var img5 = document.getElementById('myImg5');
    var modalImg5 = document.getElementById("img05");
    var captionText5 = document.getElementById("caption5");
    img5.onclick = function(){
      modal5.style.display = "block";
      modalImg5.src = this.src;
      captionText5.innerHTML.style.display = "block";
    }
    var img6 = document.getElementById('myImg6');
    var modalImg6 = document.getElementById("img06");
    var captionText6 = document.getElementById("caption6");
    img6.onclick = function(){
      modal6.style.display = "block";
      modalImg6.src = this.src;
      captionText6.innerHTML.style.display = "block";
    }
    var span = document.getElementsByClassName("close")[0];
    span.onclick = function() {
      modal.style.display = "none";
    }
    modal5.onclick = function() {
      modal5.style.display = "none";
    }
    modal6.onclick = function() {
      modal6.style.display = "none";
    }
  });
</script>
<script type="text/javascript">
  $(document).ready(function() {
    if (window.location.href.indexOf("/gallery-live", "/gallery-promo") > -1) {
      $('.referens').addClass('active');

    } else {
      $('.referens').removeClass('active');
    }
  });
</script>
