<div class="container3">
  <div class="row center">
    <h1>Kontaktpersoner</h1>

    <div class="col-sm-6 col-lg-4">
      <img class="img-circle" src="img/personal/image2.jpg" alt="Grundare och VD Byggest Kamal Osmanov" width="180" height="180">
      <h2>Kamal Osmanov</h2>
      <h4><span class="highlight">Grundare och VD</span></h4>
      <p>kamal&#64;byggest.se</p>
      <p>+46 700 250 393</p>
    </div><!-- /.col-lg-4 -->

    <div class="col-sm-6 col-lg-4">
      <img class="img-circle" src="img/personal/jahn-erich.jpg" alt="Offertansvarig Byggest Jahn-Erich Karrenbauer" width="180" height="180">
      <h2>Jahn-Erich Karrenbauer</h2>
      <h4><span class="highlight">Offertansvarig</span></h4>
      <p>jahnerich&#64;byggest.se</p>
      <p>+46 738 002 030</p>
    </div><!-- /.col-lg-4 -->

    <div class="col-sm-6 col-lg-4">
      <img class="img-circle" src="img/personal/Image.png" alt="VVS-ansvarig Byggest Pavel Romasev" width="180" height="180">
      <h2>Pavel Romasev</h2>
      <h4><span class="highlight">VVS-ansvarig</span></h4>
      <p>pavel&#64;byggest.se</p>
      <p>+46 703 000 457</p>
    </div><!-- /.col-lg-4 -->

    <div class="col-sm-6 col-lg-4">
      <img class="img-circle" src="img/personal/Emil1.jpg" alt="Projektansvarig Byggest Emil Majcher" width="180" height="180">
      <h2>Emil Majcher</h2>
      <h4><span class="highlight">Projektansvarig</span></h4>
      <p>emil&#64;byggest.se</p>
      <p>+46 739 128 285</p>
    </div><!-- /.col-lg-4 -->

    <div class="col-sm-6 col-lg-4">
      <img class="img-circle" src="img/personal/IMG_7448.JPG" alt="Ekonomiansvarig Byggest Julia Botskova" width="180" height="180">
      <h2>Julia Botskova</h2>
      <h4><span class="highlight">Ekonomiansvarig</span></h4>
      <p>info&#64;byggest.se</p>
      <p>08-40 888 609</p>
    </div><!-- /.col-lg-4 -->

  </div><!-- /.row -->
</div>

<script type="text/javascript">
  $(document).ready(function() {
    if (window.location.href.indexOf("/referens", "/referens-badrum", "/referens-kok", "/referens-vvs", "/referens-snickeri") > -1) {
      $('.referens').addClass('active');

    } else {
      $('.referens').removeClass('active');
    }
  });
</script>
